openapi: 3.1.0
info:
  title: BallotWatch API
  version: 1.0.0
  summary: Congressional member, bill, vote, search, and aggregate statistics API.
  description: >
    BallotWatch exposes the U.S. congressional record (members, roll-call votes,
    bills) for civic applications, newsroom tools, research, and AI agents.
    GET requests need no key: 60 per minute and 5,000 per day per IP. A free
    key (sign in at /developers/keys, no payment) raises the limit to 600 per
    minute; send it as `Authorization: Bearer bw_live_...`. Every response
    carries `meta.data_updated_at`; single records carry a
    `Link: <official source>; rel="canonical"` header. Machine-readable site
    map: /llms.txt. MCP server: /mcp. Public sample data: /data.
servers:
  - url: https://www.ballotwatch.io
    description: Production
security:
  - {}
  - bearerAuth: []
paths:
  /api/v1/members:
    get:
      summary: List members of Congress
      parameters:
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/chamber"
        - $ref: "#/components/parameters/party"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Member list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMembers"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/members/{bioguideId}:
    get:
      summary: Get one member
      parameters:
        - $ref: "#/components/parameters/bioguideId"
      responses:
        "200":
          headers:
            Link:
              $ref: "#/components/headers/Link"
          description: Member detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Member"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/members/{bioguideId}/votes:
    get:
      summary: Get voting history for one member
      parameters:
        - $ref: "#/components/parameters/bioguideId"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Member votes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedVotes"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/members/{bioguideId}/stats:
    get:
      summary: Get voting statistics for one member
      parameters:
        - $ref: "#/components/parameters/bioguideId"
      responses:
        "200":
          description: Member statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/bills:
    get:
      summary: List bills
      description: Newest first by introduced_at. Bills with no introduced date sort last and are excluded by date_from and date_to.
      parameters:
        - name: policy_area
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Bill list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBills"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/bills/{id}:
    get:
      summary: Get one bill
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 119-hr-1234
      responses:
        "200":
          headers:
            Link:
              $ref: "#/components/headers/Link"
          description: Bill detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Bill"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/votes:
    get:
      summary: List roll call votes
      parameters:
        - $ref: "#/components/parameters/chamber"
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Vote list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedVotes"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/votes/{rollCallId}:
    get:
      summary: Get one roll call vote
      parameters:
        - name: rollCallId
          in: path
          required: true
          schema:
            type: string
          example: house-119-1-123
      responses:
        "200":
          headers:
            Link:
              $ref: "#/components/headers/Link"
          description: Roll call detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RollCall"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/stats:
    get:
      summary: Get aggregate statistics
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [party_loyalty, attendance, bills_by_area]
        - $ref: "#/components/parameters/chamber"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Aggregate statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: '{ type, rankings } or { type, areas } depending on the requested statistic'
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/search:
    get:
      summary: Search members and bills
      description: Bill matches are newest first by introduced_at; bills with no introduced date sort last.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [members, bills]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      members:
                        type: array
                        items:
                          $ref: "#/components/schemas/Member"
                      bills:
                        type: array
                        items:
                          $ref: "#/components/schemas/Bill"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Optional. Free and paid keys start with bw_live_ and raise rate limits.
  parameters:
    bioguideId:
      name: bioguideId
      in: path
      required: true
      schema:
        type: string
      example: P000197
    state:
      name: state
      in: query
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: CA
    chamber:
      name: chamber
      in: query
      schema:
        type: string
        enum: [house, senate]
    party:
      name: party
      in: query
      schema:
        type: string
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  headers:
    Link:
      description: 'Official source for this record, e.g. <https://www.congress.gov/member/P000197>; rel="canonical"'
      schema:
        type: string
    RetryAfter:
      description: Seconds to wait before retrying
      schema:
        type: integer
    RateLimitLimit:
      description: Requests allowed in the window that was hit
      schema:
        type: integer
    RateLimitRemaining:
      description: Requests remaining in that window (0 on a 429)
      schema:
        type: integer
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Malformed or unknown API key. Requests without any Authorization header are admitted anonymously on GET.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Key revoked or the organization's plan is not active
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Per-minute, per-day (anonymous), or monthly (paid key) limit reached
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RateLimitError"
  schemas:
    Meta:
      type: object
      properties:
        api_version:
          type: string
          example: v1
        data_updated_at:
          type: string
          format: date-time
          nullable: true
          description: When the ETL last completed successfully; on every response
        source_url:
          type: string
          description: Official source for a single member record (also on data.source_url and the Link header)
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
    Member:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        chamber:
          type: string
        state:
          type: string
        district:
          type: string
          nullable: true
        party:
          type: string
        photo_url:
          type: string
          nullable: true
        source_url:
          type: string
          description: Congress.gov member page; present on single-record responses
    Bill:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        number:
          type: string
        congress:
          type: integer
        policy_area:
          type: string
          nullable: true
        introduced_at:
          type: string
          format: date
          nullable: true
          description: Introduced date from Congress.gov; null for a bill first seen through a roll call until its bill detail has been fetched.
        source_url:
          type: string
    Vote:
      type: object
      properties:
        id:
          type: [integer, string]
        roll_call_id:
          type: string
        position:
          type: string
        voted_at:
          type: string
          format: date
        member:
          $ref: "#/components/schemas/Member"
        bill:
          $ref: "#/components/schemas/Bill"
    PaginatedMembers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Member"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          $ref: "#/components/schemas/Meta"
    PaginatedBills:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Bill"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          $ref: "#/components/schemas/Meta"
    PaginatedVotes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Vote"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          $ref: "#/components/schemas/Meta"
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
    RateLimitError:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
              example: RATE_LIMIT_EXCEEDED
            limit:
              type: integer
            window:
              type: string
              enum: [minute, day]
              description: Present on anonymous and free-key limits
            used:
              type: integer
              description: Present on monthly paid-key limits
    RollCall:
      type: object
      properties:
        roll_call_id:
          type: string
          example: house-119-2-295
        voted_at:
          type: string
          format: date
        source_url:
          type: string
          nullable: true
        bill:
          $ref: "#/components/schemas/Bill"
        summary:
          type: object
          properties:
            yea:
              type: integer
            nay:
              type: integer
            present:
              type: integer
            not_voting:
              type: integer
            total:
              type: integer
        votes:
          type: array
          items:
            type: object
            properties:
              position:
                type: string
              member:
                $ref: "#/components/schemas/Member"
