openapi: 3.1.0
info:
  title: BallotWatch API
  version: 1.0.0
  summary: Congressional member, bill, vote, search, and aggregate statistics API.
  description: >
    BallotWatch exposes the U.S. congressional record (members, roll-call votes,
    bills) for civic applications, newsroom tools, research, and AI agents.
    GET requests need no key: 60 per minute and 5,000 per day per IP. A free
    key (sign in at /developers/keys, no payment) raises the limit to 600 per
    minute; send it as `Authorization: Bearer bw_live_...`. Every response
    carries `meta.data_updated_at`; single records carry a
    `Link: <official source>; rel="canonical"` header. Machine-readable site
    map: /llms.txt. MCP server: /mcp. Bulk open data (CC0 1.0, daily):
    /data/full/manifest.json and GET /api/v1/datasets.
servers:
  - url: https://www.ballotwatch.io
    description: Production
security:
  - {}
  - bearerAuth: []
paths:
  /api/v1/members:
    get:
      summary: List members of Congress
      parameters:
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/chamber"
        - $ref: "#/components/parameters/party"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Member list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMembers"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/members/{bioguideId}:
    get:
      summary: Get one member
      parameters:
        - $ref: "#/components/parameters/bioguideId"
      responses:
        "200":
          headers:
            Link:
              $ref: "#/components/headers/Link"
          description: Member detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Member"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/members/{bioguideId}/votes:
    get:
      summary: Get voting history for one member
      parameters:
        - $ref: "#/components/parameters/bioguideId"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Member votes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedVotes"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/members/{bioguideId}/stats:
    get:
      summary: Get voting statistics for one member
      parameters:
        - $ref: "#/components/parameters/bioguideId"
      responses:
        "200":
          description: Member statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/bills:
    get:
      summary: List bills
      description: Newest first by introduced_at. Bills with no introduced date sort last and are excluded by date_from and date_to.
      parameters:
        - name: policy_area
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Bill list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBills"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/bills/{id}:
    get:
      summary: Get one bill
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 119-hr-1234
      responses:
        "200":
          headers:
            Link:
              $ref: "#/components/headers/Link"
          description: Bill detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Bill"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/votes:
    get:
      summary: List roll call votes
      parameters:
        - $ref: "#/components/parameters/chamber"
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Vote list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedVotes"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/votes/{rollCallId}:
    get:
      summary: Get one roll call vote
      parameters:
        - name: rollCallId
          in: path
          required: true
          schema:
            type: string
          example: house-119-1-123
      responses:
        "200":
          headers:
            Link:
              $ref: "#/components/headers/Link"
          description: Roll call detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RollCall"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/stats:
    get:
      summary: Get aggregate statistics
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [party_loyalty, attendance, bills_by_area]
        - $ref: "#/components/parameters/chamber"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Aggregate statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: '{ type, rankings } or { type, areas } depending on the requested statistic'
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/search:
    get:
      summary: Search members and bills
      description: Bill matches are newest first by introduced_at; bills with no introduced date sort last.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [members, bills]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      members:
                        type: array
                        items:
                          $ref: "#/components/schemas/Member"
                      bills:
                        type: array
                        items:
                          $ref: "#/components/schemas/Bill"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/v1/floor/schedule:
    get:
      summary: Get the House weekly floor schedule
      description: >
        Items the House Majority Leader has listed for possible floor
        consideration this week and next week (when published), parsed from the
        "Bills This Week" XML on docs.house.gov. The schedule names a week, not
        a day, and a listing is not a guarantee of a vote. Items later removed
        from the schedule are omitted. The Senate does not publish a weekly
        floor schedule in this format, so only the House is covered.
      parameters:
        - name: week
          in: query
          description: Any real date (YYYY-MM-DD) from 2010 to 60 days ahead, in the week to fetch; returns only that week. Defaults to this week and next.
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Floor schedule by week
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      chamber:
                        type: string
                        enum: [house]
                      senate_note:
                        type: string
                      weeks:
                        type: array
                        items:
                          $ref: "#/components/schemas/FloorScheduleWeek"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid week parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: docs.house.gov could not be reached for any requested week
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/datasets:
    get:
      summary: List the open-data bulk files (latest snapshot manifest)
      description: >
        The manifest of the latest open-data snapshot: every bulk file
        (members, member terms, bills, bill cosponsors, roll calls, votes; full
        archive and the current Congress; gzip CSV and gzip NDJSON) with its
        URL under https://www.ballotwatch.io/data/full/, row count, byte size
        and SHA-256, plus the license (CC0 1.0), sources and citation. Rebuilt
        daily. The same document is served statically at
        /data/full/manifest.json; column schemas are in
        /data/full/datapackage.json (Frictionless Data Package). The fastest
        way to get everything is to download the files this lists.
      responses:
        "200":
          description: Latest snapshot manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DatasetManifest"
                  meta:
                    type: object
                    properties:
                      api_version:
                        type: string
                      data_updated_at:
                        type: [string, "null"]
                        format: date-time
                      generated_at:
                        type: [string, "null"]
                        format: date-time
                      manifest_url:
                        type: string
                        format: uri
                      datapackage_url:
                        type: string
                        format: uri
                      license:
                        type: string
                        format: uri
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: No snapshot has been published yet, or Storage is unreachable (code SNAPSHOT_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Optional. Free and paid keys start with bw_live_ and raise rate limits.
  parameters:
    bioguideId:
      name: bioguideId
      in: path
      required: true
      schema:
        type: string
      example: P000197
    state:
      name: state
      in: query
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: CA
    chamber:
      name: chamber
      in: query
      schema:
        type: string
        enum: [house, senate]
    party:
      name: party
      in: query
      schema:
        type: string
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  headers:
    Link:
      description: 'Official source for this record, e.g. <https://www.congress.gov/member/P000197>; rel="canonical"'
      schema:
        type: string
    RetryAfter:
      description: Seconds to wait before retrying
      schema:
        type: integer
    RateLimitLimit:
      description: Requests allowed in the window that was hit
      schema:
        type: integer
    RateLimitRemaining:
      description: Requests remaining in that window (0 on a 429)
      schema:
        type: integer
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Malformed or unknown API key. Requests without any Authorization header are admitted anonymously on GET.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Key revoked or the organization's plan is not active
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Per-minute, per-day (anonymous), or monthly (paid key) limit reached
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RateLimitError"
  schemas:
    DatasetManifest:
      type: object
      properties:
        name:
          type: string
        generated_at:
          type: string
          format: date-time
        snapshot_date:
          type: string
          format: date
        data_updated_at:
          type: [string, "null"]
          format: date-time
        current_congress:
          type: integer
        license:
          type: object
          properties:
            id:
              type: string
              example: CC0-1.0
            path:
              type: string
              format: uri
        attribution:
          type: string
        citation:
          type: string
        update_cadence:
          type: string
        base_url:
          type: string
          format: uri
        archive_url:
          type: string
          format: uri
        datapackage:
          type: string
          format: uri
        row_counts:
          type: object
          additionalProperties:
            type: integer
        notes:
          type: array
          items:
            type: string
        files:
          type: array
          items:
            $ref: "#/components/schemas/DatasetFile"
    DatasetFile:
      type: object
      properties:
        path:
          type: string
          example: votes-119.csv.gz
        table:
          type: string
          enum: [members, member_terms, bills, bill_cosponsors, roll_calls, votes]
        scope:
          type: string
          enum: [all, congress]
        congress:
          type: [integer, "null"]
        format:
          type: string
          enum: [csv, ndjson]
        mediatype:
          type: string
        encoding:
          type: string
          enum: [gzip]
        rows:
          type: integer
        bytes:
          type: integer
        sha256:
          type: string
        url:
          type: string
          format: uri
    Meta:
      type: object
      properties:
        api_version:
          type: string
          example: v1
        data_updated_at:
          type: string
          format: date-time
          nullable: true
          description: When the ETL last completed successfully; on every response
        source_url:
          type: string
          description: Official source for a single member record (also on data.source_url and the Link header)
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
    Member:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        chamber:
          type: string
        state:
          type: string
        district:
          type: string
          nullable: true
        party:
          type: string
        photo_url:
          type: string
          nullable: true
        source_url:
          type: string
          description: Congress.gov member page; present on single-record responses
    Bill:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        number:
          type: string
        congress:
          type: integer
        policy_area:
          type: string
          nullable: true
        introduced_at:
          type: string
          format: date
          nullable: true
          description: Introduced date from Congress.gov; null for a bill first seen through a roll call until its bill detail has been fetched.
        source_url:
          type: string
    Vote:
      type: object
      properties:
        id:
          type: [integer, string]
        roll_call_id:
          type: string
        position:
          type: string
        voted_at:
          type: string
          format: date
        member:
          $ref: "#/components/schemas/Member"
        bill:
          $ref: "#/components/schemas/Bill"
    PaginatedMembers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Member"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          $ref: "#/components/schemas/Meta"
    PaginatedBills:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Bill"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          $ref: "#/components/schemas/Meta"
    PaginatedVotes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Vote"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          $ref: "#/components/schemas/Meta"
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
    RateLimitError:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
              example: RATE_LIMIT_EXCEEDED
            limit:
              type: integer
            window:
              type: string
              enum: [minute, day]
              description: Present on anonymous and free-key limits
            used:
              type: integer
              description: Present on monthly paid-key limits
    FloorScheduleWeek:
      type: object
      properties:
        week:
          type: string
          format: date
          description: Monday of the scheduled week
          example: "2026-09-14"
        chamber:
          type: string
          enum: [house]
        status:
          type: string
          enum: [published, not_published, unavailable]
          description: not_published when docs.house.gov has no schedule for the week (often a recess); unavailable when the upstream request failed
        congress:
          type: integer
          nullable: true
        source_updated_at:
          type: string
          nullable: true
          description: The schedule's own update-date
        source_url:
          type: string
          example: https://docs.house.gov/floor/Default.aspx?date=2026-09-14
        xml_url:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
                nullable: true
              label:
                type: string
                nullable: true
                example: H.R. 4931
              title:
                type: string
                nullable: true
              category:
                type: string
                nullable: true
                description: Short procedure name (Suspension, Under a rule, May be considered)
                example: Suspension
              category_type:
                type: string
                nullable: true
                description: The category heading exactly as published
                example: Items that may be considered under suspension of the rules
              bill_id:
                type: string
                nullable: true
                example: 119-hr-4931
              bill_path:
                type: string
                nullable: true
                example: /bill/119/hr/4931
              added_at:
                type: string
                nullable: true
    RollCall:
      type: object
      properties:
        roll_call_id:
          type: string
          example: house-119-2-295
        voted_at:
          type: string
          format: date
        source_url:
          type: string
          nullable: true
        bill:
          $ref: "#/components/schemas/Bill"
        summary:
          type: object
          properties:
            yea:
              type: integer
            nay:
              type: integer
            present:
              type: integer
            not_voting:
              type: integer
            total:
              type: integer
        votes:
          type: array
          items:
            type: object
            properties:
              position:
                type: string
              member:
                $ref: "#/components/schemas/Member"
